div#pdm-map-sidebar.pdm-hidden
	div.btn-group-vertical.pdm-sidebar-buttons(role="group")
		button.toggle-map-sidebar.btn.btn-outline-secondary.btn-sm.mt-2(type="button" title="Afficher/masquer la barre latérale")
			i.fa.fa-bars

	div.overflow-auto.h-100
		//- Default panel showing legend
		div.pdm-sidebar-default.m-3
			div.map-legend
				h5 Légende
				each lg in legend
					div(id=`pdm-legend-${lg.layerId}` title="Afficher/masquer la couche")
						span(style=`background-color: ${lg.color}`)
						| #{lg.label}

				if editors.pdm
					h5.mt-3 Éditer
					div#legend-edit-button

		//- Display details of a single feature
		div.pdm-sidebar-feature.m-3.d-none

		//- Display feature editor
		div.pdm-sidebar-editor.m-3.d-none
			include map_editor.pug

		//- Display post-contribution screen
		div.pdm-sidebar-postcontrib.m-3.d-none
			include map_sidebar_postcontrib.pug

include ./map_sidebar_feature.pug
script.
	const sidebarDom = document.getElementById("pdm-map-sidebar");
	if(window.innerWidth >= 768) { sidebarDom.classList.remove("pdm-hidden"); }

	// Update hash
	const updateHashMapSidebar = () => {
		if(sidebarDom.classList.contains("pdm-hidden")) {
			window.history.replaceState(null, null, window.location.hash.replace(/sidebar&/g, ""));
		}
		else if(!window.location.hash.includes("sidebar")) {
			window.location.hash = window.location.hash.replace("#", "#sidebar&");
		}
	};
	window.addEventListener("hashchange", e => {
		if(!window.location.hash.includes("sidebar") && !sidebarDom.classList.contains("pdm-hidden")) {
			sidebarDom.classList.toggle("pdm-hidden");
			cancelAskFeatureLocation();
			cancelEdit(null, true);
			updateHashMapSidebar();
		}
	});

	// Close sidebar button
	sidebarDom.querySelector(".toggle-map-sidebar").addEventListener("click", () => {
		sidebarDom.classList.toggle("pdm-hidden");
		cancelAskFeatureLocation();
		cancelEdit(null, true);
		updateHashMapSidebar();
	});

	// Change visible panel
	const panelDefaultDom = sidebarDom.querySelector(".pdm-sidebar-default");
	const panelFeatureDom = sidebarDom.querySelector(".pdm-sidebar-feature");
	const panelEditorDom = sidebarDom.querySelector(".pdm-sidebar-editor");
	const panelPostContribDom = sidebarDom.querySelector(".pdm-sidebar-postcontrib");

	window.addEventListener("pdm_sidebar_use", e => {
		if(e.detail.open) {
			sidebarDom.classList.remove("pdm-hidden");
		}
		if(e.detail.close) {
			sidebarDom.classList.add("pdm-hidden");
			e.detail.panel = "default";
		}
		switch(e.detail.panel) {
			case "feature":
				panelFeatureDom.innerHTML = '';
				if(e.detail.feature) {
					panelFeatureDom.appendChild(getDescription(e.detail.feature));
				}
				else if(typeof e.detail.content === "string") {
					panelFeatureDom.innerHTML = e.detail.content;
				}
				else if(e.detail.content) {
					panelFeatureDom.appendChild(e.detail.content);
				}
				panelDefaultDom.classList.add("d-none");
				panelEditorDom.classList.add("d-none");
				panelPostContribDom.classList.add("d-none");
				panelFeatureDom.classList.remove("d-none");
				break;

			case "editor":
				panelDefaultDom.classList.add("d-none");
				panelFeatureDom.classList.add("d-none");
				panelPostContribDom.classList.add("d-none");
				panelEditorDom.classList.remove("d-none");
				break;

			case "postcontrib":
				panelDefaultDom.classList.add("d-none");
				panelFeatureDom.classList.add("d-none");
				panelEditorDom.classList.add("d-none");
				panelPostContribDom.classList.remove("d-none");
				break;

			default:
				panelFeatureDom.classList.add("d-none");
				panelEditorDom.classList.add("d-none");
				panelPostContribDom.classList.add("d-none");
				panelDefaultDom.classList.remove("d-none");
		}
		updateHashMapSidebar();
	});

//- Make legend symbol clickable to enable/disable layer
-
	const legendClickEvents = legend
		.map(lg => lg.layerId)
		.map((id,i) => `
			const domLegend${i} = document.getElementById('pdm-legend-${id}');
			domLegend${i}.addEventListener("click", e => {
				if(domLegend${i}.classList.contains('text-line-through')) {
					map.setFilter('${id}', null);
					domLegend${i}.classList.remove('text-line-through');
				}
				else {
					map.setFilter('${id}', ['boolean', false]);
					domLegend${i}.classList.add('text-line-through');
				}
			});`)
		.join("\n");

script !{legendClickEvents}
