a.d-inline-block.d-md-none.w-100.text-center.mb-1(href="/" title="Retour à la page d'accueil")
	img(style="max-width: 100%; height: 40px" src="/images/logo_mini.png" alt="Projet du mois")


//- Legend entries
div.map-legend.mb-2.pb-2(style="border-bottom: 1px solid #bbb")
	each lg in legend
		div(id=`pdm-legend-${lg.layerId}` title="Afficher/masquer la couche")
			div.pdm-color-patch(style=`border-color: ${lg.color}`)
			| #{lg.label}

//- Make legend symbol clickable to enable/disable layer
-
	const legendClickEvents = legend
		.map(lg => lg.layerId)
		.map((id,i) => `
			const domLegend${i} = document.getElementById('pdm-legend-${id}');
			domLegend${i}.addEventListener("click", e => {
				if(domLegend${i}.classList.contains('text-line-through')) {
					map.setFilter('${id}', null);
					domLegend${i}.classList.remove('text-line-through');
				}
				else {
					map.setFilter('${id}', ['boolean', false]);
					domLegend${i}.classList.add('text-line-through');
				}
			});`)
		.join("\n");

script !{legendClickEvents}


//- Editor button
if editors.pdm
	div#legend-edit-button.mb-2


//- KML Export button
a#pdm-export-kml.btn.btn-block.btn-outline-secondary(role="button" title="Télécharger un fichier KML pour contribuer avec une application de smartphone")
	i.fa.fa-download.mr-1
	| Exporter les points à vérifier

script.
	const osmoseLabels = !{JSON.stringify(osmoseLabels)};
	const btnExportKml = document.getElementById("pdm-export-kml");

	function updateExportKmlLink() {
		if(osmoseLabels && Object.keys(osmoseLabels).length > 0) {
			const items = Object.keys(osmoseLabels).map(ol => ol.split("_")[0]).join(",");
			const classes = Object.keys(osmoseLabels).length > 1 ? "all" : Object.keys(osmoseLabels)[0].split("_").pop();
			const params = `item=${items}&class=${classes !== "all" ? classes : ""}`;
			const bbox = `${map.getBounds()._sw.lng}%2C${map.getBounds()._sw.lat}%2C${map.getBounds()._ne.lng}%2C${map.getBounds()._ne.lat}`;
			btnExportKml.href = `#{CONFIG.OSMOSE_URL}/fr/errors.kml?zoom=${map.getZoom()}&${params}&bbox=${bbox}`;
		}
		else {
			btnExportKml.classList.add("d-none");
		}
	}

	window.addEventListener("load", e => {
		updateExportKmlLink();
		map.on("moveend", updateExportKmlLink);
	});
