script.
	//
	// Notifications system
	//

	const NOTIFS_STORAGE = "pdm_notifs";

	function showNotifsInMenu() {
		// Read previous notifications if any
		let prevNotifs = JSON.parse(sessionStorage.getItem(NOTIFS_STORAGE) || "[]");

		// Display all notifications in menu
		for(let domNotifs of document.querySelectorAll(".pdm-notifs")) {
			if(prevNotifs.length === 0) {
				domNotifs.classList.add("d-none");
			}
			else {
				// Clean-up previous notifications
				domNotifs.classList.remove("d-none");
				for(let domNotifPrev of (domNotifs.querySelectorAll("a") || [])) {
					domNotifs.removeChild(domNotifPrev);
				}

				// Add new ones
				prevNotifs.forEach(notif => {
					const notifDom = document.createElement("a");
					notifDom.classList.add("dropdown-item", "pdm-user-page-btn");
					notifDom.title = notif.t;
					notifDom.href = notif.u;

					const img = document.createElement("img");
					img.classList.add("mr-1");
					img.src = "/images/"+notif.i;
					img.style.width = "17px";
					notifDom.appendChild(img);

					notifDom.appendChild(document.createTextNode(notif.l));
					domNotifs.insertBefore(notifDom, domNotifs.lastChild);
				});
			}
		}
	}

	window.addEventListener("pdm_notifs_add", e => {
		let prevNotifs = JSON.parse(sessionStorage.getItem(NOTIFS_STORAGE) || "[]");

		// Add new notification in storage
		prevNotifs.unshift({ l: e.detail.label, i: e.detail.image, u: e.detail.url, t: e.detail.title });
		if(prevNotifs.length > 3) { prevNotifs = prevNotifs.slice(0, 3); }
		sessionStorage.setItem(NOTIFS_STORAGE, JSON.stringify(prevNotifs));

		// Show badge
		for(let notifBadge of document.querySelectorAll(".pdm-user-button .badge-info")) {
			notifBadge.classList.remove("d-none");
		}

		showNotifsInMenu();
	});


	//
	// Login/logout handlers
	//

	window.addEventListener("osm_login", e => {
		for(let domConnect of document.getElementsByClassName("connect-osm")) {
			domConnect.innerHTML = '';
			const icon = document.createElement("i");
			icon.classList.add("fa", "fa-user");
			const txt = document.createElement("span");
			txt.appendChild(document.createTextNode(window.osm_user.name));
			txt.classList.add("d-none", "d-sm-inline", "ml-1");
			domConnect.appendChild(icon);
			domConnect.appendChild(txt);
			domConnect.title = "#{__("Logout")}";
		}

		for(let domConnect of document.getElementsByClassName("pdm-user-button")) {
			domConnect.firstChild.classList.add("d-none");
			domConnect.lastChild.classList.remove("d-none");
			domConnect.querySelector(".pdm-username").innerHTML = window.osm_user.name;
			domConnect.querySelector(".pdm-user-page-btn").setAttribute("href", `/users/${encodeURIComponent(window.osm_user.name)}`);
		}

		showNotifsInMenu();
	});

	window.addEventListener("osm_logout", e => {
		for(let domConnect of document.getElementsByClassName("connect-osm")) {
			domConnect.innerHTML = '';
			const icon = document.createElement("i");
			icon.classList.add("fa", "fa-sign-in-alt");
			const txt = document.createElement("span");
			txt.appendChild(document.createTextNode("#{__("Register / Login")}"));
			txt.classList.add("d-none", "d-sm-inline", "ml-1");
			domConnect.appendChild(icon);
			domConnect.appendChild(txt);
			domConnect.title = "#{__("Register / Login")}";
		}

		for(let domConnect of document.getElementsByClassName("pdm-user-button")) {
			domConnect.firstChild.classList.remove("d-none");
			domConnect.lastChild.classList.add("d-none");
			domConnect.querySelector(".pdm-username").classList.add("d-none");
			domConnect.querySelector(".badge-info").classList.add("d-none");
		}

		sessionStorage.setItem(NOTIFS_STORAGE, "[]");
	});

	window.addEventListener("load", e => {
		for(let domConnect of document.getElementsByClassName("disconnect-osm-ub")) {
			domConnect.addEventListener("click", logout);
		}

		for(let domConnect of document.getElementsByClassName("connect-osm-ub")) {
			domConnect.addEventListener("click", () => {
				auth.authenticate((err, res) => {
					if(err) {
						console.error(err);
						alert("#{__("An error happened during login, please retry")}");
						logout();
					}
					else {
						checkAuth();
					}
				});
			});
		}

		for(let domConnect of document.getElementsByClassName("connect-osm")) {
			domConnect.addEventListener("click", () => {
				if(!auth.authenticated()) {
					auth.authenticate((err, res) => {
						if(err) {
							console.error(err);
							alert("#{__("An error happened during login, please retry")}");
							logout();
						}
						else {
							checkAuth();
						}
					});
				}
				else {
					logout();
				}
			});
		}

		for(let domUserBtn of document.querySelectorAll(".pdm-user-button")) {
			const domDropdown = domUserBtn.querySelector(".dropdown");
			domDropdown.addEventListener("shown.bs.dropdown", e => {
				const menu = domDropdown.querySelector(".dropdown-menu");
				if(!menu) { return; }
				menu.style.left = `-${menu.offsetWidth - domUserBtn.offsetWidth}px`;

				const notifBadge = domDropdown.querySelector(".badge-info");
				notifBadge.classList.add("d-none");
			});
		}
	});

mixin user_button
	div.pdm-user-button
		button.connect-osm-ub.btn.btn-outline-secondary.text-truncate.ml-2(role="button" title=__("Register / Login"))
			i.fa.fa-sign-in-alt
			span.d-none.d-lg-inline.ml-1= __("Register / Login")

		div.dropdown.d-none
			button.btn.btn-outline-secondary.dropdown-toggle.text-truncate.ml-2(role="button" title="Menu" data-toggle="dropdown")
				i.fa.fa-user
				span.d-none.d-lg-inline.ml-1.pdm-username= __("User")
				span.badge.badge-info.ml-1.d-none(title=__("Unread notifications"))
					i.fa.fa-bell
			div.dropdown-menu
				div.pdm-notifs.d-none
					h6.dropdown-header
						i.fa.fa-bell.mr-1
						| #{__("Notifications")}
					div.dropdown-divider

				a.dropdown-item.pdm-user-page-btn(href="")
					i.fa.fa-medal.mr-1
					| #{__("My badges")}
				div.dropdown-divider
				a.disconnect-osm-ub.dropdown-item
					i.fa.fa-sign-out-alt.mr-1
					| #{__("Logout")}

mixin user_connect
	button.connect-osm.btn.btn-lg.btn-primary(role="button")
		i.fa.fa-sign-in-alt
		span.d-none.d-sm-inline.ml-1= __("Register / Login")
