//- Meta
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
title= CONFIG.WEBSITE_NAME
meta(name="description" content=CONFIG.WEBSITE_DESCRIPTION)
meta(property="og:type" content="website")
meta(property="og:url" content=CONFIG.WEBSITE_URL)
meta(property="og:title" content=CONFIG.WEBSITE_NAME)
meta(property="og:description" content=CONFIG.WEBSITE_DESCRIPTION)
meta(property="og:image" content=CONFIG.WEBSITE_URL+"/images/header.png")
meta(rel="canonical" href=CONFIG.WEBSITE_URL)

link(rel="manifest" href="/manifest.webmanifest")
link(rel="icon" href="/images/favicon.png")

//- CSS
link(rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.css")
link(rel="stylesheet" type="text/css" href="/lib/maplibre-gl/maplibre-gl.css")
link(rel="stylesheet" type="text/css" href="/lib/fontawesome/css/all.min.css")
style
	include ../style.css

//- JS
script(src="/lib/bootstrap.native/bootstrap.js")
script(src="/lib/moment/moment.js")
script(src="/lib/chart.js/chart.js")
script(src="/lib/chartjs-adapter-moment/chartjs-adapter-moment.js")
script(src="/lib/osm-auth/osmauth.js")
script(src="/lib/osm-request/osmrequest.js")

include ../components/user_button

//- Auth and Matomo handlers (runs on client)
if CONFIG
	if CONFIG.MATOMO_HOST
		script.
			var _paq = window._paq = window._paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="#{CONFIG.MATOMO_HOST}";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '#{CONFIG.MATOMO_SITE}']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();

	script.
		const conf = {
		  scope: "read_prefs write_api write_notes openid",
		  client_id: "#{CONFIG.OSM_CLIENT_ID}",
		  redirect_uri: window.location.origin,
		  url: "#{CONFIG.OSM_URL}",
		  apiUrl: "#{CONFIG.OSM_API_URL}",
		  auto: true,
		  singlepage: true
		};

		const osmApi = new OsmRequest(conf);

		const authOpts = {
		  url: conf.url,
		  apiUrl: conf.apiUrl,
		  client_id: conf.client_id,
		  singlepage: conf.singlepage,
		  redirect_uri: conf.redirect_uri,
		  scope: conf.scope,
		};

		const auth = osmAuth(authOpts);
		let authWait;

		const params = new URLSearchParams((window.location.search || "?").substring(1));
		const token = params.get("oauth_token") || localStorage.getItem("oauth_token") || null;

		if (window.location.search.slice(1).split('&').some(p => p.startsWith('code='))) {
			auth.authenticate(function() {
				console.log("Auth success");
			});
		}

		function checkAuth() {
			if(auth.authenticated()) {
				if(authWait) {
					clearInterval(authWait);
				}

				//Get user details
				auth.xhr({
					method: 'GET',
					path: '/api/0.6/user/details'
				}, (err, details) => {
					if(err) {
						console.log(err);
						logout();
					}
					else {
						try {
							window.osm_user = {
								id: details.firstChild.childNodes[1].attributes.id.value,
								name: details.firstChild.childNodes[1].attributes.display_name.value,
								auth: auth
							};

							osmApi._auth = auth;
							window.dispatchEvent(new Event("osm_login"));
						}
						catch(e) {
							console.error(e);
							logout();
						}
					}
				});
			}
		}

		function login() {
			authOpts.redirect_uri = window.location.href;
			auth.options(authOpts);

			if(!auth.authenticated()) {
				auth.authenticate((err, res) => {
					if(err) {
						console.error(err);
						alert("#{__("An error happened during login, please retry")}");
						logout();
					}
					else {
						checkAuth();
					}
				});
			}
		}

		function logout() {
			if(auth && auth.authenticated()) {
				auth.logout();
			}

			window.osm_user = null;
			osmApi._auth = null;
			localStorage.removeItem("oauth_token");
			window.dispatchEvent(new Event("osm_logout"));
		}

		window.addEventListener("load", () => {
			if(token) {
				auth.bootstrapToken(token, () => {
					checkAuth();
					window.history.replaceState(null, null, window.location.href.replace(window.location.search, ""));
					localStorage.setItem("oauth_token", token);
				});
			}
			else {
				//Check if we receive auth token
				checkAuth();
				authWait = setInterval(checkAuth.bind(this), 100);
			}
		});
