extends ../layout.pug


block navbar
	a(href="/about")
		i.fa.fa-flag(title=__("A propos"))
		span= __("A propos")


block content
	div.container
		h2.mb-2
			i.fa.fa-exclamation-triangle.mr-2
			| #{__("Erreur %s", httpcode)}
		//- Wide image
		a(href="/")
			img.w-100.rounded-lg(src="/images/httperror.png" title=__("Retour à l'accueil") alt=__("Erreur %s : rien que le désert ici...", httpcode))

		//- Where to go
		div.lead.text-center.m-5
			a(href="/")= __("Accueil | Découvrir le projet du mois")
