extends ../layout.pug

block head
	//- Map specific libraries
	script(src="/lib/maplibre-gl/maplibre-gl.js")

block navbar
	if !isActive && !isNext
		a(href="/#summary")
			i.fa.fa-calendar-day(title=__("Currently"))
			span= __("Currently")
	else
		a(href="#contribute")
			i.fa.fa-circle-question(title=__("Contribute"))
			span= __("How to contribute")
	a(href="#statistics")
		i.fa.fa-chart-column(title=__("Statistics"))
		span= __("Statistics")
	a(href="#data")
		i.fa.fa-file-arrow-down(title=__("Data"))
		span= __("Data")
	a(href="/about")
		i.fa.fa-flag(title=__("About"))
		span= __("About")


block content
	div.container
		//- Project summary
		div#summary.jumbotron.py-2.px-3.pb-3.p-md-5.mb-3.text-white.rounded.bg-dark.position-relative
			img.position-absolute.pdm-project-badge(src=icon alt="" width="100")
			div.col-8.px-0
				if isActive
					h1.font-italic= __("Currently: %s", title.toLowerCase())
				else if isNext
					h1.font-italic= __("Next to come: %s", title.toLowerCase())
				else
					h1.font-italic.mb-0= title
					p.pdm-project-date.text-capitalize.mb-0.mb-md-2= new Date(month).toLocaleString(getLocale(), { month: 'long', year: 'numeric' })

			if !isHardEnded
				div.btn-over-wide.d-flex.justify-content-center.align-items-center
					a.pdm-wide-link.map(href=`/projects/${name}/map`)
					a.btn.btn-primary.btn-lg(style="color: white")
						i.fa.fa-pen.mr-2
						| #{__("Contribute")}
			else
				p= __("Ended project")

			p.lead.mb-0.mt-md-2= summary

	if isRecentPast || isHardEnded
		div.container-fluid.py-5.pdm-section-highlight
			div.blog-post.container
				h2.blog-post-title.mb-2
					i.fa.fa-cake-candles.mr-2(style="font-size: 2.1rem")
					| #{__("Thank you all!")}
				p= __("Thanks to all the contributors for making this project a success. Without all of you, OpenStreetMap would be nothing!")

				include ../components/wordcloud.pug
				div#word-cloud.w-100.m-0(style="height: 250px")
				script.
					const wordsTmp = [];
					for(let i=0; i < 100; i++) { wordsTmp.push(["#{__("Thanks")}", Math.floor(Math.random()*30)]); }
					wordsTmp.unshift(["#{__("Thanks!")}", 50]);
					createWordCloud(document.getElementById("word-cloud"), wordsTmp);

				div.text-center
					a.btn.btn-primary.btn-lg.my-2(href="#statistics")
						i.fa.fa-chart-column.mr-2
						| #{__("See the statistics")}

	a#contribute
	div.container-fluid.py-5
		//- Contribute
		div.container.blog-post
			h2.blog-post-title.mb-2
				i.fa.fa-question-circle.mr-2(style="font-size: 2.1rem")
				| #{__("How to contribute")}
			if isNext
				p= __("This project will start on %s, but it's never too soon to start! You can already improve data using our tools or improve the documentation.", new Date(start_date).toLocaleString(getLocale(), { day: "numeric", month: "long" }))
			else if !isActive
				if isHardEnded
					p= __("This project is done, but mapping in OpenStreetMap never ends! You can contribute on other topics.")
				else
					p= __("This project is done, but mapping in OpenStreetMap never ends! You can continue to improve data using our tools and documentation.")

			if !isHardEnded
				div.mt-3!= howto
				div.text-center
					a.btn.btn-primary.btn-lg.m-1(style="color: white" href=`/projects/${name}/map`)
						i.fa.fa-pen.mr-2
						| #{__("Contribute")}
					if links.osmwiki
						a.btn.btn-secondary.btn-lg.m-1(href=links.osmwiki target="_blank" role="button")
							i.fa.fa-book.mr-2
							| #{__("Full documentation")}
					if links.osmforum
						a.btn.btn-secondary.btn-lg.m-1(href=links.osmforum target="_blank" role="button")
							i.fa.fa-comments.mr-2
							| #{__("Discuss")}
					if links.osmblog
						a.btn.btn-secondary.btn-lg.m-1(href=links.osmblog target="_blank" role="button")
							i.fa.fa-rss.mr-2
							| #{__("Blog article")}
			else if isHardEnded && links.osmblog
				div.text-center
					a.btn.btn-secondary.btn-lg.m-1(href=links.osmblog target="_blank" role="button")
						i.fa.fa-rss.mr-2
						| #{__("Blog article")}

	//- Statistics
	a#statistics
	div.container-fluid.py-5.mb-3.pdm-section-highlight
		div.blog-post.container
			h2.blog-post-title.mb-3
				i.fa.fa-chart-column.mr-2(style="font-size: 2.1rem")
				| #{__("Statistics")}

			if isNext
				p= __("Progress statistics will be shown at project start on %s.", new Date(start_date).toLocaleString(getLocale(), { day: "numeric", month: "long" }))
			else
				include ../components/stats.pug

	//- Data
	a#data
	div.container-fluid.py-5
		div.container.blog-post
			h2.blog-post-title
				i.fa.fa-file-arrow-down.mr-2(style="font-size: 2.1rem")
				| #{__("Data")}
			if !isNext && opendata && opendata.length > 0
				p= __("All the data produced before, during and after the project are available at the following addresses:")
				ul
					each datalink in opendata
						li: a(href=datalink.url)
							| #{datalink.title}
							small &nbsp;(via #{datalink.via})
			else
				p
					a(href=CONFIG.OSM_URL target="_blank")= __("Find all data directly on OpenStreetMap website.")

	//- Other projects
	if projectsToDisplay && projectsToDisplay.length > 0
		a#projects
		div.container-fluid.py-5
			div.container.blog-post
				h2.blog-post-title
					i.fa.fa-share.mr-2(style="font-size: 2.1rem")
					| #{__("Other projects")}
				p= __("Find other projects, their tools, statistics and data.")
					div.row.align-items-center
						each proj in projectsToDisplay
							div.col-md-6.col-lg-4.h-100
								div.media.mb-3
									a.align-self-center.mr-3(href=`/projects/${proj.name}`)
										img(src=proj.icon alt="" style="max-width: 100px")
									div.media-body.align-self-center
										a.text-decoration-none(href=`/projects/${proj.name}`)
											| #{proj.title}
											span.text-muted.d-block= new Date(proj.month).toLocaleString('fr-FR', { month: 'long', year: 'numeric' })
