extends ../layout.pug


block navbar
	if !isActive && !isNext
		a.p-2.text-muted(href="/#summary") En ce moment
	else
		a.p-2.text-muted(href="#contribute") Participer
	a.p-2.text-muted(href="#statistics") Statistiques
	a.p-2.text-muted(href="#data") Données


block content
	div.container
		//- Project summary
		div#summary.jumbotron.p-4.p-md-5.mb-3.text-white.rounded.bg-dark
			div.text-center
				img.float-sm-none.float-md-right(src=icon alt="" width="130")
			div.col-md-8.px-0
				if isActive
					h1.display-4.font-italic= `En ce moment : ${title.toLowerCase()}`
				else if isNext
					h1.display-4.font-italic= `Prochainement : ${title.toLowerCase()}`
				else
					h1.display-4.font-italic= title
					p.display-4.text-capitalize= new Date(start_date).toLocaleString('fr-FR', { month: 'long', year: 'numeric' })
				p.lead.my-3= summary
				p.lead.mb-0
					a.btn.btn-primary.btn-lg(role="button" href="#contribute") Participer

	div.container-fluid.py-5
		//- Contribute
		div#contribute.container.blog-post
			h2.blog-post-title Participer
			if isNext
				p Ce projet du mois commencera officiellement le #{new Date(start_date).toLocaleString('fr-FR', { day: "numeric", month: "long" })}, mais il n'est jamais trop tôt pour se lancer ! Vous pouvez commencer dès à présent à enrichir les données à l'aide de nos outils et de la documentation.
			else if !isActive
				p Ce projet du mois est terminé, mais la cartographie dans OpenStreetMap ne s'arrête pas ! Vous pouvez continuer à enrichir les données à l'aide de nos outils et de la documentation.
			div.btn-over-wide
				a.pdm-wide-link.map(href=`/projects/${id}/map`) Commencer à contribuer
				a.btn.btn-light
					i.fa.fa-expand
			div.mt-3!= howto
			div.btn-over-wide
				a.pdm-wide-link.books(href=links.osmwiki target="_blank") Documentation
				a.btn.btn-light
					i.fa.fa-book

	//- Statistics
	div.container-fluid.py-5.mb-3.pdm-section-highlight
		div#statistics.blog-post.container
			h2.blog-post-title.mb-3 Statistiques

			if isNext
				p Les statistiques d'avancement seront affichées lors du lancement officiel du projet du mois le #{new Date(start_date).toLocaleString('fr-FR', { day: "numeric", month: "long" })}.
			else
				include ../components/stats.pug

	//- Data
	div#data.container.blog-post.py-5
		h2.blog-post-title Données
		if !isNext
			p L'ensemble des données produites avant, pendant et après le projet du mois sont disponibles aux adresses suivantes :
			ul
				each datalink in opendata
					li: a(href=datalink.url)
						| #{datalink.title}
						small &nbsp;(via #{datalink.via})

		p Retrouvez les précédents projets du mois, leurs outils, statistiques et données.
			div.row.align-items-center
				each pastProj in projects.past.reverse()
					div.col-md-6.col-lg-4.h-100
						div.media.mb-3
							a.align-self-center.mr-3(href=`/projects/${pastProj.id}`)
								img(src=pastProj.icon alt="" style="max-width: 100px")
							div.media-body.align-self-center
								a.text-decoration-none(href=`/projects/${pastProj.id}`)
									| #{pastProj.title}
									span.text-muted.d-block= pastProj.period


block prepend footer
	div.container.text-left
		div.row
			div#about.blog-post.col-md-8
				include:markdown-it ../../../README.md
			aside.col-md-4.blog-sidebar
				div.p-4.mb-3.rounded
					h4.font-italic En savoir plus
					ul.list-unstyled.mb-0
						li: a(href=CONFIG.REPOSITORY_URL rel="noopener") Code source du projet
						li: a(href="https://wiki.openstreetmap.org/wiki/FR:Project_of_the_month#Projets_pass.C3.A9s" rel="noopener") Projets précédents
						li: a(href="https://openstreetmap.fr" rel="noopener") OpenStreetMap France
